@font-face {
 font-family: 'HKGrotesk-Regular';
 src: url('../fonts/HKGrotesk-Regular.ttf') format('opentype');
}
@font-face {
 font-family: 'HKGrotesk-Light';
 src: url('../fonts/HKGrotesk-Light.ttf') format('opentype');
}
